@model ClickExpress.Models.Pedido


@{
    ViewData["Title"] = "Aceitar";
}


<div>
    <h4>Pedido @Html.DisplayFor(model => model.Id_contrato) atualizado!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_prestador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_prestador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}