@model ClickExpress.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_agendamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dt_agendamento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serv_descarrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serv_descarrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serv_montagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serv_montagem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Cep)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_contrato" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
