@model ClickExpress.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<div class="text-white">
    <h1>Details</h1>
</div>

<div class="text-white">
    <h4>Pedido</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro_origem)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UF_origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UF_origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UF_destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UF_destino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_agendamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dt_agendamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serv_descarrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serv_descarrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serv_montagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serv_montagem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Cep)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_contrato">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
