@model IEnumerable<ClickExpress.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Solicitação</h1>

<p>
    <a asp-action="Create">Vamos começar ?</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dt_contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Partida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Partida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Cep)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_contrato">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_contrato">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_contrato">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
