@model IEnumerable<ClickExpress.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Solicitação</h1>

<p>
    <a asp-action="Create">Vamos começar ?</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep_origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro_origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento_origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro_origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep_destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro_destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento_destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro_destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dt_agendamento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serv_descarrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serv_montagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep_origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro_origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento_origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro_origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep_destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro_destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento_destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro_destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_destino)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Dt_agendamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Serv_descarrega)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Serv_montagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Cep)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_contrato">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_contrato">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_contrato">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
