@model ClickExpress.Models.Usuario

@{
    ViewData["Title"] = "RelatoriosUserPendente";
}


<div style="padding: 0px 25px 0px 25px">
    <div class="container m-0 p-0 mw-100" style="font-size: 1.0vw">
        <div>
            <br /><br />
            <h4 class="table text-white">Pedidos Pendentes</h4>
            <br /><br />
            <a asp-action="RelatoriosUserPendente" class="text-white" style="background-color: #D90429; border-radius: 30px; padding: 5px 8px 5px 8px;">Pendentes</a>
            <br /><br /><br /><br />
            <div class="table-responsive">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle; text-align: center">
                                Status
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Nº da Solicitação
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Tipo de Serviço
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Data Agendada
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Cidade de Origem
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Estado de Origem
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Cidade de Destino
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Estado de Destino
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Serviço de Descarga
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Serviço de Montagem
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Valor do Serviço
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                + Info
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Pedidos)
                        {

            @if (Convert.ToInt32(item.Status) == 0)
            {
<tr>
    <td>
        <div class="text-white" style="background-color: #D90429; border-radius: 30px; padding: 1px 5px 1px 5px; vertical-align: middle; text-align: center">Pendente</div>
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.Id_contrato)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.Dt_agendamento)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.Cidade_origem)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.UF_origem)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.Cidade_destino)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.UF_destino)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.Serv_descarrega)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.Serv_montagem)
    </td>
    <td style="vertical-align: middle; text-align: center">
        @Html.DisplayFor(modelItem => item.Preco)
    </td>
    <td style="vertical-align: middle; text-align: center">
        <a class="btn" style="color: #2B2D42; background-color: white; font-size: 1vw; font-weight: 500;" asp-controller="Pedidos" asp-action="DetailsAprovacao" asp-route-id="@item.Id_contrato">Detalhes</a>
    </td>
</tr>}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-warning" asp-action="RelatoriosUser" style="background-color: #EDF2F4; color: #EF233C; font-weight: bold; border: none">Voltar</a>
    </div>
    <br /><br /><br />
</div>
