@model ClickExpress.Models.Usuario

@{
    ViewData["Title"] = "RelatoriosSpec";
}



<div class="container m-0 p-0 mw-100" style="font-size: 0.7vw">
    <h2 class="table text-white">Usuário: @Model.Nome</h2>
    <div>
        <h4 class="table text-white">Pedidos</h4>
        <hr />
        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        Id do contrato
                    </th>
                    <th>
                        Data do contrato
                    </th>
                    <th>
                        Tipo de serviço
                    </th>
                    <th>
                        Cep de origem
                    </th>
                    <th>
                        Logradouro de origem
                    </th>
                    <th>
                        Complemento de origem
                    </th>
                    <th>
                        Bairro de origem
                    </th>
                    <th>
                        Cidade de origem
                    </th>
                    <th>
                        Estado de origem
                    </th>
                    <th>
                        Cep de destino
                    </th>
                    <th>
                        Logradouro de destino
                    </th>
                    <th>
                        Complemento de destino
                    </th>
                    <th>
                        Bairro de destino
                    </th>
                    <th>
                        Cidade de destino
                    </th>
                    <th>
                        Estado de destino
                    </th>
                    <th>
                        Data do agendamento
                    </th>
                    <th>
                        Preço
                    </th>
                    <th>
                        Serviço de descarregamento
                    </th>
                    <th>
                        Serviço de montagem
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pedidos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id_contrato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dt_contrato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cep_origem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Logradouro_origem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Complemento_origem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro_origem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade_origem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UF_origem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cep_destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Logradouro_destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Complemento_destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro_destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade_destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UF_destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dt_agendamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Serv_descarrega)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Serv_montagem)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id_usuario">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id_usuario">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id_usuario">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_usuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
