@model ClickExpress.Models.Usuario

@{
    ViewData["Title"] = "RelatoriosUserAceito";
}



<div class="container m-0 p-0 mw-100" style="font-size: 0.7vw">
    <div>
        <h4 class="table text-white">Pedidos Aceitos</h4>

        <hr />
        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        Status
                    </th>
                    <th>
                        Número da solicitação
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Data agendamento
                    </th>
                    <th>
                        Cidade de origem
                    </th>
                    <th>
                        UF de origem
                    </th>
                    <th>
                        Cidade de destino
                    </th>
                    <th>
                        UF de destino
                    </th>
                    <th>
                        Serviço de descarregamento
                    </th>
                    <th>
                        Serviço de montagem
                    </th>
                    <th>
                        Preço
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pedidos)
                {

                    @if (Convert.ToInt32(item.Status) == 2)
                    {
                <tr>
                    <td>
                        <div class="text-white bg-secondary rounded">Aceito</div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_contrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dt_agendamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade_origem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UF_origem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade_destino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UF_destino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serv_descarrega)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serv_montagem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                </tr>                    
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div>    
    <a class="btn btn-warning" asp-action="RelatoriosUser">Voltar</a>
</div>
