@model ClickExpress.Models.Orcamento

@{
    ViewData["Title"] = "Delete";
}

<div class="text-white">
    <h3>Tem certeza de que deseja excluir isso?</h3>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id_contrato)
            </dt>
            <dd class="col-sm-10" readonly>
                @Html.DisplayFor(model => model.Id_contrato)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id_prestador)
            </dt>
            <dd class="col-sm-10" readonly>
                @Html.DisplayFor(model => model.Id_prestador)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Preco)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id_orcamento" />
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
