@model IEnumerable<ClickExpress.Models.Item>

    <div class="text-white">

        <div class="formulario">
            
            <div class="form-group">
                <label class="control-label col-md-2">Quantidade</label>
                <div class="col-md-10">
                    <input type="text" id="quantidade" name="Quantidade" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Descricao</label>
                <div class="col-md-10">
                    <input type="text" id="descricao" name="Descrição" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="#" onclick="SalvarItens();">Gravar Itens</a>
                </div>
            </div>
        </div>

        <input type="hidden" id="Id_contrato" value="@ViewBag.Pedido" />

        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Quantidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>

