@model IEnumerable<ClickExpress.Models.Item>

<div class="text-white">

    <div class="formulario">
        <br />
        <h6><span style="color: white; font-weight: bold;">Item</span></h6>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-auto"><label class="control-label col-md-2">Descrição:</label></div>
                <div class="col-sm-3"><input style="width: 100%;" class="form-control" type="text" id="descricao" name="Descrição" /></div>
                <div class="col-sm-auto"><label class="control-label col-md-2">Quantidade:</label></div>
                <div class="col-sm-1"><input style="width: 100%;" class="form-control" type="number" id="quantidade" name="Quantidade" /></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" onclick="SalvarItens();" class="btn btn-danger">Adicionar Item</a>
            </div>
        </div>
    </div>

    <input type="hidden" id="Id_contrato" value="@ViewBag.Pedido" />
    <br />
    <h6><span style="color: white; font-weight: bold;">Itens Adicionados:</span></h6>
    <table class="table table-hover table-dark" style="border-radius: 10px; width:100%;">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="width: 100%">
            @foreach (var item in Model)
            {
<tr style="width: 100%">

    <td>
        @Html.DisplayFor(modelItem => item.Descricao)
        
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantidade)
    </td>

</tr>}
        </tbody>
    </table>
</div>

